<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/img/combu_logo.png">
  <title>カード発行</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/mail_send.css">
</head>
<body>
<div class="header">
</div>
<h2 class="title title_flame"><%=@email%>に認証メールを送信しましたご確認ください</h2>
<p class="end">© 2022 Combu_uni.</p>
</body>
</html>
